<% if user == current_user %>
<h3>Add a new friend</h3>
<% form_remote_for friendship, :update => 'friends' do |f| %>
  <p>
  <%= f.error_messages %>
  <%= f.label :friend_email %><br />
  <%= f.text_field :friend_email %>
  </p>
  <%= hidden_field :friendship, :user_id %>
  <%= f.submit "Add friend" %>
<% end %>
<% end %>