<h2><%= profile_head %></h2>

<% if(user_is_self? || @user.friend_of?(current_user))%>

<p>
  <b>Birthday:</b>
  <%=h @user.birthday %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<%= render :partial => 'friend_list', :object => @user.friends %>

<% else %>

<p>
  <b>You may only see your own details, or the ones of your friends.</b>
   <% form_for @friendship do |f| %>
     <%= f.hidden_field :user_id %>
     <%= f.hidden_field :friend_id, :value => @user.id.to_s %>
     <%= f.submit "Make this user a friend" %>
   <% end %>
</p>

<% end %>

<% if user_is_self? %>
<%= render :partial => 'add_friend', :locals => { :user => @user, :friendship => @friendship } %>
<% end %>

<%=  link_to_profile_or_self %> |
<%= link_to 'Logout', user_session_url, :method => :delete %>