<h2>User Profile of <%= @user.name %></h2>

<% if((@user == current_user) || (@user.friend_of?(current_user)))%>

<p>
  <b>Birthday:</b>
  <%=h @user.birthday %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<% unless @user.friends.blank? %>
<h3>My Friends</h3>
<p>
	<b>Friends</b>
	<ul>
	<% for friend in @user.friends %>
	<li><%= friend.name %></li>
	<% end %>
	</ul>
</p>
<% end %>

<% else %>

<p>
  <b>You may only see your own details, or the ones of your friends.</b>
   <% form_for @friendship do |f| %>
     <%= f.hidden_field :user_id %>
     <%= f.hidden_field :friend_id, :value => @user.id.to_s %>
     <%= f.submit "Make this user a friend" %>
   <% end %>
</p>

<% end %>

<% if @user == current_user %>
<h3>Add a new friend</h3>
<% form_for @friendship do |f| %>
  <p>
  <%= f.error_messages %>
  <%= f.label :friend_email %><br />
  <%= f.text_field :friend_email %>
  </p>
  <%= hidden_field :friendship, :user_id %>
  <%= f.submit "Register" %>
<% end %>
<% end %>


<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Logout', user_session_url, :method => :delete %>